# Python & Кеш
*.pyc
__pycache__/

# Віртуальні середовища
venv/
env/
.venv/

# Налаштування та секрети
.env
*.key
blogproject/blogproject/keys/

# Медіа та статика
media/
staticfiles/
static_root/

# Локальна база даних Django
db.sqlite3
*.sqlite3

# Налаштування IDE (PyCharm/VSCode)
.idea/
.vscode/

# Системні файли macOS та Windows
.DS_Store
Thumbs.db