{% extends "index.html" %}
{% block main-content %}
<h1>Створити допис</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        <label for="{{ form.title.id_for_label }}">Заголовок допису:</label>
        {{ form.title }}
        {{ form.title.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.text.id_for_label }}">Основний текст допису:</label>
        {{ form.text }}
        {{ form.text.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.post_image.id_for_label }}">Зображення допису:</label>
        {{ form.post_image }}
        {{ form.post_image.errors }}
    </div>
    <button class="btn btn-dark" type="submit">Створити допис</button>
</form>
{% endblock main-content %}
